{% if page.feedback %}
<style>
    /* Style the button that is used to open and close the collapsible content */
    .fb_collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .fb_active,
    .fb_collapsible:hover {
        background-color: #ccc;
    }

    /* Style the collapsible content. Note: hidden by default */
    .feedback_content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>
<button type="button" class="fb_collapsible">Was this page helpful?</button>
<div class="feedback_content">
    <p>
        <form
            action="https://docs.google.com/forms/d/e/1FAIpQLSe2GbtHidvlk0M3383HR2JAR4zWkZzB6cW5rKq9tBTygEAOPA/formResponse"
            target="hidden_iframe">
            <!-- Set the value of the current URL into the form. -->
            <input type="hidden" name="entry.1235902710" id="current-url" value={{page.url}}>
            <!-- The answer bit -->
            <p>
                <input type="radio" name="entry.1116545680" id="h1" value="Yes" required="">
                <label for="h1">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="entry.1116545680" id="h2" value="No">
                <label for="h2">No</label></p>

            <!-- Additional feedback -->

            <p><label id="feedbackLabel" for="feedback">Give additional feedback below.</label><br>
                <input type="text" name="entry.470412855" id="feedback"></p>
            <!-- Submit button -->
            <p><input class="button" type="submit" value="Submit"></p>
        </form>
    </p>
</div>
<script>
    var coll = document.getElementsByClassName("fb_collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("fb_active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
{% endif %}